{% extends "base.html"  %}
{% from "macros.html" import pagination %}

{% block content %}
<h1>Browse all {{ pagename }}</h1>
<table>
    <tr>
        <th>Department name</th><th>Average salary</th>
    </tr>
    {% for row in dept_salary.items %}
    <tr>
        {% for entry in row %}
            {% if row.index(entry) == 0 %}
                <td><a href="{{ url_for('department', dept_name=entry) }}" >{{ entry }}</a></td>
             {% else %}
                <td>{{ entry }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<h3>Pagination</h3>

{{ pagination(dept_salary, route_name)}}

{% endblock content %}`