{% extends "base.html"  %}
{% block content %}
<h1>Browse all {{ pagename }}</h1>
<table>
    <tr>
        <th>{{ column }}</th><th>avg. salary</th>
    </tr>
    {% for row in dept_salary.items %}
    <tr>
        {% for entry in row %}
            {% if row.index(entry) == 0 %}
                <td><a href="{{ url_for('department', dept_name=entry) }}" >{{ entry }}</a></td>
             {% else %}
                <td>{{ entry }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<h3>Pagination</h3>
<div>
    {%- for page in dept_salary.iter_pages() %}
        {% if page %}
            <a href="{{ url_for('departments', page_num=page) }}" > {{ page }} </a>
        {% else %}
            {{ page }}
        {% endif %}
    {% endfor %}
</div>

{% endblock content %}`