{% extends "base.html"  %}
{% from "macros.html" import pagination %}

{% block content %}
<h1>This is a {{ pagename }} page.</h1>
<table>
    <tr>
        {% for col_name in column_names %}
        <th>{{ col_name }}</th>
        {% endfor %}
    </tr>
    {% for person in emp_data.items %}
    <tr>
        {% for col_name in column_names %}
        <td>{{ person[col_name] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{{ pagination(emp_data, route_name) }}

{% endblock content %}