{% extends "base.html"  %}
{% from "macros.html" import pagination %}

{% block content %}
<h1>Browse all {{ pagename }}</h1>
<div class="table-responsive">
<table class="table align-middle table-striped table-hover">
    <tr>
        <th scope="col">Department name</th>
        <th scope="col">Average salary</th>
    </tr>
    {% for row in dept_salary.items %}
    <tr>
        {% for entry in row %}
            {% if row.index(entry) == 0 %}
                <td scope="row"><a href="{{ url_for('department', dept_name=entry) }}" >{{ entry }}</a></td>
             {% else %}
                <td scope="row">{{ entry }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
<h3>Pagination</h3>

{{ pagination(dept_salary, route_name)}}

{% endblock content %}`